{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n allauth account %}
{% block title %}
    {{ block.super }} - {% trans 'Password Reset' %}
{% endblock %}

{% block content %}
  <h2 class="has-text-centered title my-2">{% trans 'Password Reset' %}</h2>
  {% if user.is_authenticated %}
    {% include 'account/snippets/already_logged_in.html' %}
  {% endif %}
  <p>
    {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
  </p>
  {% url 'account_reset_password' as reset_url %}
  <form action="{{ reset_url }}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="button is-primary">{% trans 'Reset My Password' %}</button>
  </form>
  <p>
    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
  </p>
{% endblock %}
