{% extends '_base.html' %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block content %}
  <div class="columns is-mobile">
    <div class="column is-half-tablet is-offset-one-quarter-tablet">
      <div class="card my-3">
        <div class="card-image">
          <figure class="image is-3by4">
            {% if book.cover %}
              <img src="{{ book.cover.url }}" alt="{{ book.title }}" />
            {% else %}
              <img src="https://bulma.io/assets/images/placeholders/320x480.png" />
            {% endif %}
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="title is-4">{{ book.title }}</p>
              <p class="subtitle is-6">{{ book.author }}</p>
              <p class="subtitle is-6">${{ book.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review-container mb-5">
    <h2 class="title has-text-centered">Reviews</h2>
    {% for review in book.reviews.all %}
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ review.author.email }}</strong>
                <br />
                <p>{{ review.content }}</p>
              </p>
            </div>
          </div>
        </article>
      </div>
      {% empty %}
      <p class="has-text-centered">There are no reviews.</p>
    {% endfor %}
  </div>
{% endblock %}
