{% extends '_base.html' %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
  {% trans 'Change Password' %}
{% endblock %}
{% block content %}
  <h2 class="has-text-centered title my-2">{% trans 'Change Password' %}</h2>
  <form action="{{ action_url }}" method="post" class="mb-5">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="button is-primary">{% trans 'Change Password' %}</button>
    <a href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
  </form>
{% endblock %}
